PORT=
NODE_ENV=production
DATABASE_URL=
JWT_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
GROQ_API_KEY=
GEMINI_API_KEY=
FRONTEND_URL=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
HUGGINGFACE_TOKEN=
